---
interface Props {
	title: string
	description: string
	imageSrc: string
	imageAlt: string
	imageWidth: number
	imageHeight: number
	slug: string
}

const { title, description, imageSrc, imageAlt, imageWidth, imageHeight, slug } = Astro.props
---

<a href={`/blog/${slug}/`} class="block">
	<div class="relative">
		<div
			class="absolute left-0 top-0 h-full w-full rounded-lg border-2 border-white p-4 transition-all hover:scale-105"
			style="border-image: linear-gradient(to right, #fcfcfc, #ffa200) 1;"
		>
		</div>
		<div
			class="relative flex transform-gpu flex-col rounded-lg p-4 transition-transform hover:scale-105"
		>
			<img
				src={imageSrc}
				width={imageWidth}
				height={imageHeight}
				alt={imageAlt}
				class="mb-4 rounded-lg"
			/>
			<h2 class="mb-2 text-2xl font-bold">{title}</h2>
			<p class="mb-4 text-gray-200">{description}</p>
		</div>
	</div>
</a>
