---
import Technology from './Technology.astro'

interface Props {
	image: string
	imageHeight: number
	imageWidth: number
	title: string
	description: string
	websiteUrl: string
	icons: string[]
}

const { image, imageWidth, imageHeight, title, description, websiteUrl, icons } = Astro.props
---

<section class="my-8">
	<div class="mx-auto mb-12 h-0.5 w-4/5">
		<div class="h-full w-full bg-gradient-to-r from-white to-yellow-600"></div>
	</div>

	<div class="m-12 my-48 flex flex-col md:flex-row md:items-start">
		<div class="flex flex-col justify-start md:w-1/2 md:pl-8">
			<h3 class="mb-2 text-center text-2xl font-bold md:text-justify">
				{title}
			</h3>
			<p class="mb-16">{description}</p>
			<div class="flex flex-wrap justify-center md:justify-start">
				{icons.map((icon: any) => <Technology name={icon} size="xs" />)}
			</div>
		</div>
		<div class="flex justify-center md:w-1/2 md:pl-8">
			<a href={websiteUrl} target="_blank" rel="noopener noreferrer">
				<img
					src={image}
					width={imageWidth}
					height={imageHeight}
					alt={title}
					class="mt-16 w-full transform object-cover transition-transform duration-300 hover:scale-110 md:mt-0"
				/>
			</a>
		</div>
	</div>
</section>
