---
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";

const { title, description, date, author, image, tags } = frontmatter;
---

<section class="text-white">
    <div>
        <h1>{title}</h1>
        <a href={`/blog/`} aria-hidden="true" tabindex="-1">
            <Image
                src={image.src}
                alt={image.alt}
                width="400"
                height="250"
                format="webp"
                quality={80}
            />
        </a>
        <div class="content">
            <div>
                <small>
                    by {author} on {date}
                </small>
            </div>
            <p>{description}</p>
            {tags.map((tag: string) => <p>{tag}</p>)}
            <div class="content">
                <slot />
            </div>
        </div>
    </div>
</section>
